.pytest_cache
.coverage
coverage*
*__pycache__*
*egg*
docs/build
*events.out*
*.ipynb_checkpoints*
*.pyc
*.vtu
new_preprocessing/preprocessing/tests/tests.py
new_preprocessing/preprocessing/tests/test_data/subgrid_snapshots.npy
new_preprocessing/preprocessing/tests/test_data/pod_coeffs_field_Velocity.npy
new_preprocessing/preprocessing/src/vtktools.py
new_preprocessing/preprocessing/src/velocity_field.npy
new_preprocessing/preprocessing/src/utils.py
new_preprocessing/preprocessing/src/unstruc_mesh_2_regular_grid_new.f90
new_preprocessing/preprocessing/src/u2rpy3.so
new_preprocessing/preprocessing/src/u2rpy3.cpython-38-x86_64-linux-gnu.so
new_preprocessing/preprocessing/src/u2r.so
new_preprocessing/preprocessing/src/u2r.cpython-39-x86_64-linux-gnu.so
new_preprocessing/preprocessing/src/reconstruct_3D.py
new_preprocessing/preprocessing/src/reconstruct.py
new_preprocessing/preprocessing/src/interpolation_test.py
new_preprocessing/preprocessing/src/get_snapshots_3D.py
new_preprocessing/preprocessing/src/get_snapshots.py
new_preprocessing/preprocessing/src/get_pod_coeffs.py
new_preprocessing/preprocessing/requirements.txt
new_preprocessing/preprocessing/readme.md
examples/extra/Domain_decomposition_dt_short_v2.ipynb
examples/extra/Domain_decomposition_dt_short_noise.ipynb
examples/extra/Domain_decomposition_dt_short_noise-Copy3.ipynb
examples/extra/Domain_decomposition_dt_short_noise-Copy1.ipynb
examples/extra/Domain_decomposition_dt_short_Copy.ipynb
examples/extra/Domain_decomposition_dt_short.ipynb
examples/extra/Domain_decomposition_dt.ipynb
examples/extra/Domain_decomposition.ipynb
examples/extra/Domain_decomposition-Copy1.ipynb
examples/extra/DD-GAN_usage_example_expanded_gan_dt 4.ipynb
examples/extra/DD-GAN_usage_example_expanded_gan.ipynb
examples/extra/DD-GAN_usage_example_endless_domains.ipynb
examples/extra/DD-GAN_usage_example_endless_domains-Copy2.ipynb
examples/extra/DD-GAN_usage_example_endless_domains-Copy1.ipynb
examples/extra/DD-GAN_usage_example-Copy2.ipynb
examples/extra/DD-GAN_usage_example-Copy1.ipynb
examples/extra/DD-GAN_slugflow1.ipynb
